###############################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/node_modules
/obj
*.user
*.dat
